*,
::after,
:hover {
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

.title {
  color: #4520ab;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.1em;
  margin: 0 !important;
}

.container_main_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_box {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 300px;
  border: 1px solid black;
}

.inner_box {
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

.row {
  border: 1px solid black;
  height: 20px;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid black;
  width: 500px;
  height: 56px;
  padding: 0 10px;
  margin: 55px;
  border-radius: 14px;
  font-size: 18px;
}

input {
  border: 1;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.btn_add {
  background-color: black;
  color: white;
  padding: 6px 14px 9px 12px;
  border-radius: 8px;
}

.btn_add:hover {
  cursor: pointer;
}

input {
  width: 350px;
  height: 25px;
  border: 0;
}

.clear_button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100px;
  height: 30px;
  border: 1px solid black;
}
