*,
::after,
:hover {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  /* background-color: #dfdfdf; */
}

.title {
  color: #4520ab;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: 0.1em;
  margin: 30px;
}

.container_main_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_box {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: auto;
  border: 0px solid black;
}

.inner_box {
  width: 50%;
  /* height: 100%; */
  border: 0px;
}

.inner_box.left {
  background-color: #f0f0f0;
  border-radius: 0.5em 0em 0em 0.5em;
}

.inner_box.right {
  background-color: #d3d0d0;
  border-radius: 0em 0.5em 0.5em 0em;
}

.row {
  border-bottom: 1px solid black;
  height: 33px;
}

.right .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
  border-left: 2px solid black;
}

.left .row {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.num {
  padding-right: 20px;
  font-weight: 800;
}

.row:last-child {
  border-bottom: 0px;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid black;
  width: 500px;
  height: 56px;
  padding: 0 10px;
  margin: 55px;
  border-radius: 14px;
  font-size: 18px;
}

input {
  border: 1;
  font-size: 18px;
  letter-spacing: 0.05em;
  caret-color: black;
  box-sizing: border-box;
}

.btn_add {
  background-color: black;
  color: white;
  padding: 6px 14px 8px 14px;
  border-radius: 8px;
  border: 0;
  font-size: 18px;
}

.btn_clear {
  margin-top: 20px;
}

.btn_add:active {
  opacity: 0.7;
}

.btn_add:hover,
.btn_clear:hover,
button {
  cursor: pointer;
}

input {
  width: 350px;
  height: 25px;
  outline: none;
  caret-color: transparent;
  animation: blink 1s step-end infinite;
  border: 0;
}

@keyframes blink {
  from,
  to {
    border-left-color: transparent;
  }
  50% {
    border-left-color: black;
  }
}

input:placeholder-shown {
  border-left: 2px solid black;
}
/* 
.clear {
  justify-content: center;
  align-items: center;
} */

.btn_clear {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #adadad;
  border-radius: 0.5em;
  width: 170px;
  height: 30px;
  border: 0;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}
.btn_clear > button {
  border: 0;
  background-color: #adadad;
  font-size: 17px;

  margin-left: 15px;
}

img.del {
  background-color: #747474;
  border-radius: 5em;
  padding: 3px;
}

/* del small */
.inner_box.right img {
  background-color: #747474;
  border-radius: 5em;
  padding: 3px;
}
