*,
::after,
:hover {
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

.title {
  color: #4520ab;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.1em;
  margin: 0 !important;
}

.container_main_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_box {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: auto;
  border: 0px solid black;
  border-radius: 0.5em;
}

.inner_box {
  width: 50%;
  /* height: 100%; */
  border: 0px;
}

.row {
  border-bottom: 1px solid black;
  height: 20px;
}
.row:last-child {
  /* border-bottom: 0px; */
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid black;
  width: 500px;
  height: 56px;
  padding: 0 10px;
  margin: 55px;
  border-radius: 14px;
  font-size: 18px;
}

input {
  border: 1;
  font-size: 18px;
  letter-spacing: 0.05em;
  caret-color: black;
  box-sizing: border-box;
}

.btn_add {
  background-color: black;
  color: white;
  padding: 6px 14px 8px 14px;
  border-radius: 8px;
  border: 0;
  font-size: 18px;
}

.btn_clear {
  margin-top: 20px;
}

.btn_add:active {
  opacity: 0.7;
}

.btn_add:hover {
  cursor: pointer;
}

input {
  width: 350px;
  height: 25px;
  outline: none;
  caret-color: transparent;
  animation: blink 1s step-end infinite;
  border: 0;
}

@keyframes blink {
  from,
  to {
    border-left-color: transparent;
  }
  50% {
    border-left-color: black;
  }
}

input:placeholder-shown {
  border-left: 2px solid black;
}

.clear_button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100px;
  height: 30px;
  border: 1px solid black;
}
