* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgb(236, 120, 120);
}

.title {
  color: #4520ab;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: 0.1em;
  margin: 30px;
}

.container_main_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add:active {
  opacity: 0.9;
  color: #4520ab;
  transition: 0.1;
}

.tooltip {
  visibility: visible;
  position: absolute;
  background-color: white;
  border: 2px solid #4520ab;
  border-radius: 0.7em;
  visibility: hidden;
  z-index: 1;
  padding: 10px;
  margin-top: 30px;
}

.main_box {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: auto;
  border: 0px solid black;
}

.inner_box {
  width: 50%;
  border: 0px;
}

.inner_box.left {
  background-color: #f0f0f0;
  border-radius: 0.5em 0em 0em 0.5em;
}

.inner_box.right {
  background-color: #d3d0d0;
  border-radius: 0em 0.5em 0.5em 0em;
}

.row {
  border-bottom: 1px solid black;
  height: 33px;
}

.right .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
  border-left: 2px solid black;
}

.left .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.inner_box.left .row img {
  visibility: hidden;
}

.num {
  padding-right: 20px;
  font-weight: 800;
}

.row:last-child {
  border-bottom: 0px;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid black;
  width: 500px;
  height: 56px;
  padding: 0 10px;
  margin: 55px;
  border-radius: 14px;
  font-size: 18px;
}

input {
  font-size: 18px;
  letter-spacing: 0.05em;
  /* border: 1px solid black !important; */
  margin-right: 20px;
}

.btn_add {
  background-color: black;
  color: white;
  padding: 6px 14px 8px 14px;
  border-radius: 8px;
  border: 0;
  font-size: 18px;
}

.btn_clear {
  margin-top: 20px;
  opacity: 0.5;
  background-color: #4520ab !important;
}

.btn_add:hover,
.btn_clear:hover,
button,
img.del:hover {
  cursor: pointer;
}

input {
  width: 350px;
  height: 30px;
  outline: none;
  caret-color: transparent;
  animation: blink 1s step-end infinite;
  border: 0;
  color: #4520ab !important;
}

@keyframes blink {
  from,
  to {
    border-left-color: transparent;
  }
  50% {
    border-left-color: black;
  }
}

.textRow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}

input:placeholder-shown {
  border-left: 2px solid black;
}

.btn_clear {
  display: flex;
  align-items: center;
  background-color: #adadad;
  border-radius: 0.5em;
  width: 170px;
  height: 30px;
  border: 0;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}
.btn_clear > button {
  border: 0;
  background-color: #4520ab !important;
  color: white;
  font-size: 17px;
  margin-left: 15px;
}

img.del {
  background-color: #747474;
  border-radius: 5em;
  padding: 3px;
}

.inner_box.right .row:first-child img,
.inner_box.left .row:first-child img {
  opacity: 0.5;
}

.inner_box.right .row:first-child img:hover,
.inner_box.left .row:first-child img:hover {
  cursor: unset;
}

.inner_box.right .num {
  display: none;
}

/* del small */
.inner_box.right img {
  background-color: #747474;
  border-radius: 5em;
  padding: 3px;
}
